*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.container_{
    display: grid;
    grid-template-rows: 5vw auto 20vh;
    grid-template-areas: "0"
                         "main"
                         "footer";
}

/*Header*/

header{
    background-color: #170C36;
    width: 100vw;
    height: 5vw;
    position: fixed;
    top:0;
    z-index: 20;
    border-bottom:solid 0.5vh;
    display: flex;
    justify-content: center;
}
.header_container{
    position: relative;
}

.dropdown_{
    position: relative;
}
.dropdown{
    position: absolute;
    right: 30vw;
    top: 10%;
}
.dropdown button{
    background-color: #B19DD0;
    color: #160B33;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    width: 170px;
    height: 2vw;
    font-size: 1rem;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color:#532BC2;
}
.btn:hover {
    background-color: #532BC2;
}


.logo{
    height: 4vh;
    animation: icon 2s ease-out infinite alternate; 
}
header img{
    width: 10vw;
}
@keyframes icon{
    0%{
        transform: translatey(2vw)
}
}


.form_cadas{
    position: absolute;
    top: 30%;
    left: 90vw;
    width: 50vw;
}
.form_entrar{
    position: absolute;
    top: 30%;
    left: 85vw;
}
.offcanvas.offcanvas-end.entrar{
    width: 23vw;
    background-color:#160B33;
    color: #B19DD0;
}
.offcanvas.offcanvas-end.cadas{
    width: 23vw;
    background-color:#B19DD0;
    color:#160B33;
}
.btn.btn-primary.entrar{
    width: 4vw;
    height: 2vw;
    font-family: 'Karla', sans-serif;
    background: transparent;
    border-color:#B19DD0;
    font-size: 1rem;
}
.btn.btn-primary.entrar:hover{
    background-color: #B19DD0;
    color: #160B33;
    font-weight: bold;
    
}
.btn.btn-primary.cadas{
    width: 7vw;
    height: 2vw;
    font-family: 'Karla', sans-serif;
    background-color:#B19DD0;
    border-color:#160B33;
    color: #160B33;
    font-weight: bold;
    font-size: 1rem;
}
.btn.btn-primary.cadas:hover{
    background-color: #532BC2;
    color: white;
}
.btn-close{
    background-color: #B19DD0;
}


.formula_entrar button{
    font-family: 'Karla', sans-serif;
    background-color:#B19DD0;
    border-color:#160B33;
    color: #160B33;
    font-weight: bold;
    font-size: 1rem;
}
.formula_entrar button:hover{
    background-color: #532BC2;
    color: white;
}
.formula_cadas button{
    font-family: 'Karla', sans-serif;
    background-color:#160B33;
    border-color:#B19DD0;
    color:white;
    font-weight: bold;
    font-size: 1rem;
}
.formula_cadas button:hover{
    background-color: #532BC2;
    color: white;
}

.form-label.cadas.email{
    font-family: 'Karla', sans-serif;
    color: #160B33;
    font-weight: bold;
    font-size: 1rem;
    overflow: show;
}
.form-label.cadas.pass{
    font-family: 'Karla', sans-serif;
    color: #160B33;
    font-weight: bold;
    font-size: 1rem;
    overflow: show;
}
.form-label.entrar.email{
    font-family: 'Karla', sans-serif;
    color: #B19DD0;
    font-weight: bold;
    font-size: 1rem;
    overflow: show;
}
.form-label.entrar.pass{
    font-family: 'Karla', sans-serif;
    color:#B19DD0;
    font-weight: bold;
    font-size: 1rem;
    overflow: show;
}
.form-text{
    font-family: 'Karla', sans-serif;

    font-size: 0.9rem;
    overflow: show;
}
.form-check-label{
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    overflow: show;
}

.termos{
    border-bottom: #160B33 0.1vw solid;
}






/*aside{
    background-color: #170C36;
    position: fixed;
    height: 100vh;
    width: 16.7vw;
    top:10vh;
    border-right: solid 0.5vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-areas: " dropdown_1 "
                         " dropdown_2 "
                         " dropdown_3 "
                         " dropdown_4 "
                         " dropdown_5 "
                         " dropdown_6 ";
}
.dropdown_1{
    grid-area: dropdown_1;  
}
.dropdown_2{
    grid-area: dropdown_2;   
}
.dropdown_3{
    grid-area: dropdown_3;   
}
.dropdown_4{
    grid-area: dropdown_4;   
}
.dropdown_5{
    grid-area: dropdown_5;   
}
.dropdown_6{
    grid-area: dropdown_6;   
}*/




/*main cards & grid*/
main{
    background-color: #532BC2;
    grid-area: main;
    display: grid;
    padding: 5vw 11vw;
    gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto auto 1fr 1fr;
    grid-template-areas: "carousel carousel carousel"
                         "row_1 row_1 row_1"
                         "card_4 card_5 card_6"
                         "card_7 card_8 card_9";
    border-bottom: solid 0.5vh;
}
.carousel.banner{
    grid-area: carousel;
    border-radius: 1vw;
    overflow: hidden;

}
.carousel-item.active.banner{
    position: relative;
}
.text_banner_1{
    position: absolute;
    top: 0;
    color: #B19DD0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 2vw;
    width: 40%;
    height: 100%;
}
.text_banner_1 img{
    width: 20vw;
    animation: icon 1s ease-in-out infinite alternate;
    margin-bottom: 6vh;
}
.text_banner_1 h1{
    font-size: 2vw;
}
.text_banner_2{
    position: absolute;
    top: -4.45vw;
    left: 70%;
    color: #B19DD0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 2vw;
    width: 30%;
    height: 100%;
}
.text_banner_2 img{
    width: 17vw;
    animation: icon 1s ease-in-out infinite alternate;
    margin-bottom: 10vh;
}



.row{
    grid-area: row_1;
    margin-bottom: 4vh;
    border-radius: 1vh;
    position: relative;
}
#carouselExampleAutoplaying_0{
    padding: 0;
    border-radius: 1vw;
    overflow: hidden;
}
/*carousel_item*/
.carou_item div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "0 0 0 0 "; 
    z-index: 0;
    column-gap: 1vw;
}
.carousel-item.active.um{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "0 0 0 0"; 
    z-index: 3;
    column-gap: vw;
}
.carousel-item img{
    border-radius: 1vw;
}
.carousel-item.active img{
    border-radius: 1vw;
}
.text_botao{
    color: white;
    font-size: 1vw;
    font-family: 'Karla', sans-serif;
}
.carousel-control-prev.row{
 top:0;
 left: 6vw;
 z-index: 10;
 top: -1vh;
 height: 5vh;
 width: 2vw;
 position: absolute;

}
.carousel-control-next.row{
 top: -1vh;
 right: 70vw;
 z-index: 10;
 height: 5vh;
 width: 2vw;
 position: absolute;
}



.card{
    background-color: #B19DD0;
}
.card_4{
    grid-area: card_4;
    overflow: hidden;
    border-radius:1vw;
}
.card_5{
    grid-area: card_5;
    overflow: hidden;
    border-radius:1vw;
}
.card_6{
    grid-area: card_6;
    overflow: hidden;
    border-radius:1vw;
}
.card_7{
    grid-area: card_7;
    overflow: hidden;
    border-radius:1vw;
}
.card_8{
    grid-area: card_8;
    overflow: hidden;
    border-radius:1vw;
}
.card_9{
    grid-area: card_9;
    overflow: hidden;
    border-radius:1vw;
}
.card-title{
    font-size:1vw;
}
.card-text{
    font-size:1vw;
}











footer{
    background-color: #160B33;
    grid-area: footer;
}