*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.container_{
    display: grid;
    grid-template-rows: 5vw auto 15vw;
    grid-template-areas: "0"
                         "main"
                         "footer";
}

/*Header*/

header{
    background-color: #170C36;
    width: 100vw;
    height: 5vw;
    position: fixed;
    top:0;
    z-index: 20;
    border-bottom: solid 0.5vw #B19DD0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 50px black;

}


.dropdown button{
    position: absolute;
    right: 30vw;
    background-color: #B19DD0;
    color: #160B33;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color:#532BC2;
}
.btn:hover {
    background-color: #532BC2;
}
.dropdown-menu{
    padding: 0;
    margin: 0;
    width: 13vw;
    font-size: 1vw;
    font-family: 'Karla', sans-serif;
    background-color: #B19DD0;
    --bs-dropdown-min-width: 0;
}



.logo{
    height: 4vw;
    animation: icon 2s ease-out infinite alternate; 
}
header img{
    width: 10vw;
}
@keyframes icon{
    0%{
        transform: translatey(2vw)
}
}




.btn.btn-primary.entrar{
    position: absolute;
    top: 30%;
    left: 83vw;
    width: 4vw;
    height: 2vw;
    font-family: 'Karla', sans-serif;
    background: transparent;
    border-color:#B19DD0;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
}
.btn.btn-primary.entrar p{
    margin: 0;
}
.btn.btn-primary.cadas:hover{
    background-color: #B19DD0;
    color: #160B33;
    font-weight: bold;
    border-color:#B19DD0;
}
.btn.btn-primary.cadas{
    position: absolute;
    top: 30%;
    left: 88vw;
    width: 9vw;
    height: 2vw;
    font-family: 'Karla', sans-serif;
    background-color:#B19DD0;
    border-color:#160B33;
    color: #160B33;
    font-weight: bold;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
}
.btn.btn-primary.cadas:hover{
    background-color: #532BC2;
    color: white;
    border-color: #B19DD0;
}
.btn.btn-primary.cadas p{
    margin: 0;
}
.btn-close{
    background-color: #B19DD0;
}

/*offcanvas*/
.offcanvas.offcanvas-end.entrar{
    width: 23vw;
    background-color:#160B33;
    color: #B19DD0;
}
.offcanvas.offcanvas-end.cadas{
    width: 23vw;
    background-color:#B19DD0;
    color:#160B33;
}
.formula_entrar button{
    font-family: 'Karla', sans-serif;
    background-color:#B19DD0;
    border-color:#160B33;
    color: #160B33;
    font-weight: bold;
    font-size: 1vw;
}
.formula_entrar button:hover{
    background-color: #532BC2;
    color: white;
}
.formula_cadas button{
    font-family: 'Karla', sans-serif;
    background-color:#160B33;
    border-color:#B19DD0;
    color:white;
    font-weight: bold;
    font-size: 1vw;
}
.formula_cadas button:hover{
    background-color: #532BC2;
    color: white;
}

.form-label.cadas.email{
    font-family: 'Karla', sans-serif;
    color: #160B33;
    font-weight: bold;
    font-size: 1vw;
}
.form-label.cadas.pass{
    font-family: 'Karla', sans-serif;
    color: #160B33;
    font-weight: bold;
    font-size: 1vw;
}
.form-label.entrar.email{
    font-family: 'Karla', sans-serif;
    color: #B19DD0;
    font-weight: bold;
    font-size: 1vw;
}
.form-label.entrar.pass{
    font-family: 'Karla', sans-serif;
    color:#B19DD0;
    font-weight: bold;
    font-size: 1vw;
}
.form-text{
    font-family: 'Karla', sans-serif;

    font-size: 0.9vw;
}
.form-check-label{
    font-family: 'Karla', sans-serif;
    font-size: 0.9vw;
}

.termos{
    border-bottom: #160B33 0.1vw solid;
}

.btn-close{ 
    width: 1vw;
    height: 1vw;
    background-position: center;
    background-size: 1vw;
    border-radius: 0.5vw;
}







/*main cards & grid*/
main{
    background-color: #532BC2;
    grid-area: main;
    display: grid;
    padding: 5vw 0vw;
    gap: 1vw;
    grid-template-columns: 1fr;
    grid-template-rows:  auto auto auto auto auto;
    grid-template-areas: "carousel"
                         "row_1"
                         "row_2"
                         "esportes"
                         "influ";
    border-bottom: solid 0.5vw;
    z-index: 1;
    overflow-x: hidden;
    background-image: url(imgs/main.webp);
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100vw;
}
.carousel.banner{
    grid-area: carousel;
    border-radius: 1vw;
    overflow: hidden;
    margin: 0vw 11vw;
    overflow-x: hidden;
    box-shadow: 0px 0px 50px black;
}
.carousel-item.active.banner{
    position: relative;
}
.text_banner_1{
    position: absolute;
    top: 0;
    color: #B19DD0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 2vw;
    width: 40%;
    height: 100%;
}
.text_banner_1 img{
    width: 20vw;
    animation: icon 1s ease-in-out infinite alternate;
    margin-bottom: 6vw;
}
.text_banner_1 h1{
    font-size: 2vw;
}
.text_banner_2{
    position: absolute;
    top: -4.45vw;
    left: 70%;
    color: #B19DD0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 2vw;
    width: 30%;
    height: 100%;
}
.text_banner_2 img{
    width: 17vw;
    animation: icon 1s ease-in-out infinite alternate;
    margin-bottom: 5vw;
}
.text_banner_2 h1{
    font-size: 2vw;
}



/*section 1*/
.row{
    grid-area: row_1;
    margin-bottom: 4vw;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0vw 11vw;
}
#carouselExampleAutoplaying_0{
    padding: 0;
    overflow: hidden;
}
/*carousel_item*/
.carou_item div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "0 0 0 0 "; 
    z-index: 1;
    column-gap: 1vw;
    transition: 0.0s ease-in-out 0s;

}
.carousel-item.active.um{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "0 0 0 0"; 
    z-index: 2;
    column-gap: 1vw;
    transition: transform 0.6s ease-in-out 0s;
}
.carousel-item.um img{
    border-radius: 2vw;
    border: 0.3vw solid #170C36;
}
.carousel-item.active.um img{
    border-radius: 2vw;
    border: 0.3vw solid #170C36;
}
.carousel-item.active.um img:hover{
    cursor: pointer;
}
.text_botao{
    color:#170C36;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Karla', sans-serif;
    text-shadow:  1px 3px 50px black;

}
.carousel-control-prev.row{
 left: 22vw;
 z-index: 10;
 height: 3vw;
 width: 2vw;
 position: absolute;
 margin: 0;
 padding: 0;
}
.carousel-control-next.row{
 left: 25vw;
 z-index: 10;
 height: 3vw;
 width: 2.5vw;
 position: absolute;
 margin: 0;
 padding: 0;
}
.carousel-control-next-icon{
    background-size: 2vw;
    background-position: center;
    height: 3vw;
    width: 3vw;
}
.carousel-control-prev-icon{
    background-size: 2vw;
    background-position: center;
    height: 3vw;
    width: 3vw;
}




/*section 2*/
.row_2{
    grid-area: row_2;
    margin-bottom: 4vw;
    border-radius: 1vw;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0vw 11vw;
}
#carouselExampleAutoplaying_1{
    padding: 0;
    border-radius: 1vw;
    overflow: hidden;
    
}
/*carousel_item*/
.carou_item_1 div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "0 0 0 0 "; 
    z-index: 0;
    column-gap: 1vw;
    transition: transform 0s ease-in-out 0s;

}
.carousel-item.active.dois{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "0 0 0 0"; 
    z-index: 3;
    column-gap: 1vw;
    transition: transform 0.6s ease-in-out 0s;
}
.carousel-item.dois img{
    border-radius: 2vw;
    border: 0.3vw solid #170C36;
}
.carousel-item.active.dois img{
    border-radius: 2vw;
    border: 0.3vw solid #170C36;
}
.carousel-item.active.dois img:hover{
    cursor: pointer;
}
.text_botao_1{ 
    color:#170C36;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Karla', sans-serif;
    text-shadow:  1px 3px 50px black;
}
.carousel-control-prev.row_2{
 left: 35vw;
 z-index: 10;
 height: 3vw;
 width: 3vw;
 position: absolute;
 margin: 0;
 padding: 0;

}
.carousel-control-next.row_2{
 right: 58vw;
 z-index: 10;
 height: 3vw;
 width: 3vw;
 position: absolute;
 margin: 0;
 padding: 0;
}




/*section 3*/
.esportes{
    grid-area: esportes;
    display: flex;
    justify-content: center;
    background-color: #1C0F42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 50px black;
    height: 70vw;
    background-image: url(imgs/esportes_background.webp);
    background-position: center;
    background-size: 100vw;
}
.Futebol{
    margin-top: 1vw;
    margin-left: 5vw;
    color:white;
    font-weight: bold;
    font-size: 2.5vw;
    font-family: 'Karla', sans-serif;
    text-shadow:  10px 1px 20px black;
    text-decoration: underline;
}
.carousel.esportes_1{
    width: 80%;
    border-radius: 1vw;
    overflow: hidden;
    margin-bottom: 1vw;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 50px black;
}
.text_esportes_1{
    position: absolute;
    top: -0.45vw;
    left: 6%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 2vw;
    width: 27%;
    height: 100%;
    font-size: 2vw;
    text-shadow:  10px 1px 20px black;
}
.text_esportes_2{
    position: absolute;
    top: -0.45vw;
    left: 70%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 2vw;
    width: 27%;
    height: 100%;
    font-size: 2vw;
    text-shadow:  10px 1px 20px black;
}
.esportes_bl{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "b1 b2"
                        "b3 b4";
    gap: 5vw;
    width: 90vw;
    margin: auto;
    margin-top: 3vw;
}
.brasileirão p{
    margin: 0;
}
.brasileirão{
    color: black;
    font-weight: bold;
    font-size: 1vw;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.esportes_bl hr{
    opacity: 90%;
    color: black;
    margin: auto;
    border-bottom: #160B33 solid 0.3vw;
    margin-bottom: 1vw;
    width: 50%;
}
.esportes_bl1{
    grid-area: b1;
    height: 15vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 50px black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.esportes_bl1_{
    background-color: #B19DD0;
    width: 98%;
    height: 95%;
    border-radius: 1vw;
}
.esportes_bl2{
    grid-area: b2;
    height: 15vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 50px black;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.esportes_bl2_{
    background-color: #B19DD0;
    width: 98%;
    height: 95%;
    border-radius: 1vw;
}
.esportes_bl3{
    grid-area: b3;
    height: 15vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 50px black;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.esportes_bl3_{
    background-color: #B19DD0;
    width: 98%;
    height: 95%;
    border-radius: 1vw;
}
.esportes_bl4{
    grid-area: b4;
    height: 15vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 50px black;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.esportes_bl4_{
    background-color: #B19DD0;
    width: 98%;
    height: 95%;
    border-radius: 1vw;
}
.times{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3vw;
    margin-top: 2vw;
}
.X{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    margin-top: vw ;
    position: absolute;
}
.times_1{
    display: flex;
    flex-direction:row;
    align-items:center;
    color: black;
    font-weight: bold;
    font-size: 1vw;
    font-family: 'Karla', sans-serif;
    margin-left: 1vw;
}
.times_2{
    display: flex;
    flex-direction:row;
    align-items:center;
    color: black;
    font-weight: bold;
    font-size: 1vw;
    font-family: 'Karla', sans-serif;
    margin-left: 1vw;
}
.times_1 img{
    width: 2.7vw;
}
.times_2 img{
    width: 2.7vw;
}
.times_1 p{
    margin-left: 0.5vw;
    margin-bottom: 0;
}
.times_2 p{
    margin-left: 0.5vw;
    margin-bottom: 0;
}

.jogos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "um empate dois";
    gap: 1vw;
    margin-top: 1vw;
}
.um_time{
    grid-area: um;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1vw;
    background-color: #1C0F42;
    color: aliceblue;
    height: 3vw;
    margin-left: 0.5vw;
    border-radius: 1vw;
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    transition: 0.2s;
}
.um_time:hover{
    transform: scale(1.05);
}
.empate{
    grid-area: empate;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1vw;
    background-color: #1C0F42;
    color: aliceblue;
    height: 3vw;
    border-radius: 1vw;
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    transition: 0.2s;
}

.empate:hover{
    transform: scale(1.05);
}
.dois_time{
    grid-area: dois;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1vw;
    background-color: #1C0F42;
    color: aliceblue;
    height: 3vw;
    margin-right: 0.5vw;
    border-radius: 1vw;
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    transition: 0.2s;
}

.dois_time:hover{
    transform: scale(1.05);
}
.um_time p{
    margin: 0;
}
.empate p{
    margin: 0;
}
.dois_time p{
    margin: 0;
}

/*section 4*/
.influ{
    grid-area: influ;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.influenciadores{
    color:#B19DD0;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Karla', sans-serif;
    text-decoration: underline;
    margin-bottom: 2vw;
}
.influ_cont{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    color: aliceblue;
    width: 90vw;
}
.influ_cont p{
    text-indent: 3vw;
    margin-top: 1vw;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Karla', sans-serif;
    color: #B19DD0;
    width: 30vw;
    text-shadow:  9px 3px 20px black;
    border-bottom: 0.5vw solid #160B33;
    border-top: 0.5vw solid #160B33;
    height: 19vw;
}
.influ_cont img{
    border-radius: 1vw;
    width: 45vw;
    height: 20vw;
    box-shadow: 0px 0px 50px black;
    animation: icon 3s ease-in-out infinite alternate;
}



footer{
    background-color: #160B33;
    grid-area: footer;
    background-image: url("imgs/footer_background.webp");
    background-size: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer_img{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: " 0 0 0";
    gap: 2vw;
    margin-bottom: 2vw;
    
}
.footer_img img{
width: 3vw;
}
footer p{
    color:#B19DD0;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Karla', sans-serif;
}


@media (max-width: 500px) {
header{
    height: 10vw;

}
.logo{
    height: 6vw;

}
header img{
    width: 25vw;
}
.dropdown button{
    width: 15vw;
    height: 5vw;
    right: 20vw;
    top: -2vw;
    font-size: 2vw;
}
.dropdown-menu{
    font-size: 2vw;
    width: 30vw;
}
.btn.btn-primary.entrar{
    left: 75vw;
    width: 10vw;
    height: 5vw;
    font-size: 2vw;
    top: 2vw;

}
.btn.btn-primary.cadas{
    left: 86vw;
    width: 11vw;
    height: 5vw;
    font-size: 1.5vw;
    top: 2vw;
    padding: 0;
}
main{
    margin-top: 5vw;
    background-size: 110vw;
}
.carousel.slide.banner{
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}
.row{
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 90vw;
    padding: 0;
}
.text_botao p{
    margin: 0;
    font-size: 3vw;
    margin-bottom: 1vw;
}

.carousel-control-prev.row.position-absolute{
    left: 17vw;
    top: 0.5vw;
    width: 4vw;
}
.carousel-control-next.row.position-absolute{
    left: 20vw;
    top: 0.5vw;
    width: 4vw;
}
.row_2{
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    padding: 0;
}
.text_botao_1{
    margin-left: 2vw;
}
.text_botao_1 p{
    margin: 0;
    font-size: 3vw;
    margin-bottom: 1vw;
}
.carousel-control-prev.row_2{
    left: 39vw;
    top: 0.7vw;
}
.carousel-control-next.row_2{
    left: 42vw;
    top: 0.7vw;
}

.brasileirão{
    font-size: 2vw;
}
.times_1 p{
    font-size: 2vw;
}
.times_2 p{
    font-size: 2vw;
}
.um_time{
    font-size: 2vw;
    text-decoration: none;
}
.dois_time{
    font-size: 2vw;
    text-decoration: none;
}
.empate{
    font-size: 2vw;
    text-decoration: none;
}
.esportes_bl1{
    height: 17vw;
}
.esportes_bl2{
    height: 17vw;
}
.esportes_bl3{
    height: 17vw;
}
.esportes_bl4{
    height: 17vw;
}
.esportes{
    height: 80vw;
    background-size: 115vw;
}
.influ{
    height: 60vw;
    align-items: center;
    justify-content: start;
}
.influenciadores{
    font-size: 4vw;
}
.influ_cont p{
    font-size: 2.5vw;
    height: 14vw;
    width: 90vw;
}
.influ_cont img{
    width: 80vw;
    height: 30vw;
    margin-bottom: 5vw;
}
.influ_cont{
    justify-content:right;
    align-items: center;
    flex-direction: column;
}
footer{
    height: 20vw;
}
.footer_img img{
    width: 5vw;
    align-items: center;
    margin: 0;
}
.footer_img{
    margin-bottom: -5vw;
}
footer p{
    margin-top: 8vw;
    font-size:3vw;
    margin-bottom: 0;
}








.offcanvas.offcanvas-end.entrar{
    width: 50vw;
}
.offcanvas-header{
    padding: 0;
}

.offcanvas-body{
    padding: 0;
}
.offcanvas-title img{
    width: 20vw;
}
.offcanvas-title img{
    width: 30vw;
}
.offcanvas-header .btn-close{
    padding: 0;
    width: 5vw;
    height: 5vw;
    background-size: 2vw ;
    background-position: center;
    margin-right: 2vw;
}
.form-label.entrar.email{
    font-size: 2vw;
}
.form-label.entrar.pass{
    font-size: 2vw;
    margin: 0;
}
.form-label.entrar.email{
    font-size: 2vw;
    margin: 0;
}
.formula_entrar button{
    font-size: 3vw;
    border-radius: 10vw;
    margin-left: 2vw;
}

.offcanvas.offcanvas-end.cadas{
    width: 50vw;
}
.offcanvas-header{
    padding: 1vw;
}

.offcanvas-body{
    padding: 1vw;
}
.offcanvas-title img{
    width: 20vw;
}
.offcanvas-title img{
    width: 30vw;
}
.offcanvas-header .btn-close{
    padding: 0;
    width: 5vw;
    height: 5vw;
    background-size: 2vw ;
    background-position: center;
    margin-right: 2vw;
}
.form-label.cadas.email{
    font-size: 2vw;
}
.form-label.cadas.pass{
    font-size: 2vw;
    margin: 0;
}
.form-label.cadas.email{
    font-size: 2vw;
    margin: 0;
}
.formula_cadas button{
    font-size: 3vw;
    border-radius: 10vw;
    margin-left: 2vw;
}
.form-text{
    font-size: 1.9vw;
}
.form-check-label{
    font-size: 2vw;
}
.form-check-input{
    width: 2vw;
}
#exampleCheck1.form-check-input{
    margin-left: 0.0vw;
    width: 4vw;
}
.mb-3.form-check{
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
}
}



